extends layout.pug

block content
  include navbar
  h1= title
  p Welcome to #{title}
  a(href="http://discordapp.com/oauth2/authorize?client_id=593507058905645057&permissions=8&scope=bot" target="_blank") Invite this bot
